@import "../../app.scss";
.about{
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        @include mobile{
          width: 100%;
          float: none;
          gap: 20px;
      }
        .imageContainer{
            
            img{padding: 10px;
                width: 100%;
                height: 100%;
            }
        }
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}