html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    background-color: #1aaae2;
    color:#ffffff;
}
a{
    text-decoration: none;
    color:inherit;
}
section{
    height: 100vh;
    scroll-snap-align: center;
}

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
    }
}

  @media (max-width: 767.98px) {
    .navbar .wrapper {
        display: grid;
    }
       }
/* iphone14 pro max */
@media only screen 
       and (device-width: 430px) 
       and (device-height: 932px) 
       and (-webkit-device-pixel-ratio: 3) {
        .navbar .wrapper {
            display: grid;
        }
       }
   